# Virtual environments
venv/
.venv/
env/
.env/

# ========================
# Python cache
# ========================
__pycache__/
*.py[cod]
*.pyo

#all datasets
thermal_data.csv
simulated_generic_data.csv

#make it systenm independant
*.pkl
*.json


